body {
  background-color: grey;
  text-align: center;
}

h1 {
  color: white;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
p {
	color: white;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
h2 {
	color: white;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60px;
}

li a {
  display: block;
}
li a:hover {
  background-color: #555;
  color: white;
}
.active {
  background-color: #4CAF50;
  color: white;
}
ul {
  border: 1px solid #555;
}

li {
  text-align: center;
  border-bottom: 1px solid #555;
}

li:last-child {
  border-bottom: none;
}
li {
  float: left;
}

a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
ul {
  position: fixed;
  top: 0;
  width: 100%;
}